# # This workflow will run tests using node and then publish a package to npmjs when a release is created
# # For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

# name: Publish

# on:
#   release:
#     types: [created]

# jobs:
#   publish-npm:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout main
#         uses: actions/checkout@v2
#       - name: Set up node
#         uses: actions/setup-node@v1
#         with:
#           node-version: 12
#           registry-url: https://registry.npmjs.org/
#       - name: Lint and build CAM
#         run: |
#           npm ci
#           npm run lint
#           npm run build
#       - name: Lint and build test app
#         working-directory: ./test-app
#         run: |
#           npm ci
#           npm run lint
#           npm run build
#       - name: Get package version
#         id: get-package-version
#         run: echo "::set-output name=PACKAGE_VERSION::$(node -p -e 'require("./package.json").version')"
#       - name: Generate test app page
#         uses: peaceiris/actions-gh-pages@v3
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           publish_dir: test-app/dist
#           destination_dir: ${{ steps.get-package-version.outputs.PACKAGE_VERSION }}/test-app
#       - name: Check out gh-pages
#         uses: actions/checkout@v2
#         with:
#           ref: 'gh-pages'
#       - name: Generate and commit landing and test app pages
#         run: |
#           cp redirect-page.html index.html
#           sed -i 's/PACKAGE_VERSION/${{ steps.get-package-version.outputs.PACKAGE_VERSION }}/' index.html
#           git add .
#           cd ${{ steps.get-package-version.outputs.PACKAGE_VERSION }}
#           cp ../base-page.html index.html
#           sed -i 's/PACKAGE_VERSION/${{ steps.get-package-version.outputs.PACKAGE_VERSION }}/' index.html
#           git config user.name github-actions
#           git config user.email github-actions@github.com
#           git add .
#           git commit -m "Generated gh-pages files" -n
#           git push
#       - name: Checkout main before publish
#         uses: actions/checkout@v2
#       - name: Publish
#         run: |
#           npm ci
#           npm run build
#           npm publish
#         env:
#           NODE_AUTH_TOKEN: ${{secrets.npm_token}}
